<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tyler Portfolio</title>
  <!-- materialize core CSS -->
  <link href="css/materialize.min.css" rel="stylesheet" media="screen,projection">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body cz-shortcut-listen="true">

  <!-- Fixed navbar -->
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal lighten-2">
        <a href="" class="brand-logo">Tyler's Portfolio</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href=""><i class="material-icons left">store</i>Home</a></li>
          <li><a href="#"><i class="material-icons left">email</i>Contact Me</a></li>
          <li><a href="#"><i class="material-icons left">contacts</i>About Me</a></li>
          <li><a class="dropdown-button" data-beloworigin="true" href="#!" data-activates="dropdown1">My Projects<i class="material-icons left">business</i><i class="material-icons right">arrow_drop_down</i></a></li>
          <ul id="dropdown1" class="dropdown-content">
            <li><a href="../fifa-ut-tyler/fifafut16.html">Fifa Team of the Week Re-creation</a></li>
            <li class="divider"></li>
            <li><a href="#">Vitality Billing Portal</a></li>
            <li class="divider"></li>
            <li><a href="#">three</a></li>
          </ul>
        </ul>
        <!--Mobile navigation content-->
        <ul class="side-nav" id="mobile-demo">
          <li><a href="">Home</a></li>
          <li><a href="#">Contact Me</a></li>
          <li><a href="#">About Me</a></li>
          <li><a href="#!">Fifa Team of the Week Re-creation</a></li>
          <li><a href="#!">Vitality Billing Portal</a></li>
          <li><a href="#!">three</a></li>
          </ul>
        </ul>
      </div>
    </nav>
  </div>
  <br>
  <div class="row">
    <div class="col s12 m4">
      <div class="card-panel lime darken-1">
        <span class="white-text">These cards are here with the purpose of demonstrating my ability to use materialize cards.
          I am also displaying my ability to chose a color scheme that works well on a website such as the one I built.
        </span>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card-panel teal lighten-1">
        <span class="white-text">These cards are here with the purpose of demonstrating my ability to use materialize cards.
          I am also displaying my ability to chose a color scheme that works well on a website such as the one I built.
        </span>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card-panel red lighten-2">
        <span class="white-text">These cards are here with the purpose of demonstrating my ability to use materialize cards.
          I am also displaying my ability to chose a color scheme that works well on a website such as the one I built.
        </span>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="jumbotron">
      <br>
      <h2 align="center">My Info</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida sit amet ligula sed molestie.
        Maecenas nisi nunc, feugiat quis cursus quis, lacinia id felis. Nunc vel nibh tempor, rutrum nunc vitae,
        faucibus velit. Sed tincidunt dolor at ligula interdum iaculis. Nunc nec risus nec neque pulvinar dignissim ut a purus.
        Praesent imperdiet blandit lacus vitae posuere. Donec non cursus massa, suscipit pulvinar lacus.
        Ut finibus nisi tempus dui eleifend, in vestibulum nunc congue. Suspendisse ullamcorper erat ac blandit aliquet.</p>

        <p>Integer iaculis at erat a semper. Quisque pharetra felis nisl, in aliquam ante vulputate pretium.
          In finibus, risus quis sodales tincidunt, libero neque efficitur lacus, eget ultricies tortor eros sed ex.
          Morbi elit metus, malesuada at quam sit amet, porttitor varius nibh. Mauris dapibus, ante id rhoncus accumsan,
          dolor diam facilisis lorem, nec iaculis tortor dolor at sapien. Duis elit justo, convallis sed enim id, aliquam commodo nisl.
          In hac habitasse platea dictumst. Cras rhoncus laoreet dui eget tincidunt. Sed consequat, libero ut sagittis pulvinar, neque lacus condimentum neque,
          non congue eros diam in justo. Vivamus non ligula a nisi eleifend feugiat. Morbi a orci a mi hendrerit eleifend in nec ligula.
          Phasellus vestibulum ut risus nec tincidunt. Sed malesuada porta placerat. Mauris a eros et nibh pharetra luctus a pellentesque nibh. In hac habitasse platea dictumst.</p>

          <p>Nam urna lorem, egestas non ipsum et, lobortis facilisis lectus. Vivamus venenatis eros ex, nec bibendum nisi suscipit ut.
            Proin vitae leo vel risus efficitur euismod efficitur ac leo. Quisque erat turpis, lobortis id sodales id, luctus vestibulum sem.
            Mauris vitae odio eu libero fringilla tempor. Vestibulum a magna magna. Donec fermentum ut lacus pharetra tincidunt.
            Cras porttitor vehicula velit quis tempor. Nulla scelerisque tortor in neque aliquam aliquam. Aenean lorem ante, porttitor eu viverra sed, aliquet a eros.
            Quisque non tristique ligula. Donec a eros eget enim vestibulum tincidunt a eget metus. Sed blandit, turpis ut rutrum convallis, magna ipsum euismod felis,
            non cursus lectus tortor ac arcu. Nam eget justo in metus commodo euismod. Aliquam sed quam libero.</p>
            <br>
          </div>

        </div> <!-- /container -->
        <footer class="page-footer teal lighten-2">

          <div class="footer-copyright">
            <div class="container">
              © 2016 Copyright Tyler Moul
            </div>
          </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script>
        $( document ).ready(function() {
          $(".button-collapse").sideNav();
        });
        </script>

      </body>
      </html>
